<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/style.css" rel="stylesheet">
{% include 'MainCSJS.html' %}
</head>
<body>
			<form id="edd_purchase_form" class="edd_form" method="POST" action="{{ url_for('loginBackend') }}">
				<fieldset id="edd_checkout_user_info">
					<legend>Sign IN</legend>

					<p id="edd-email-wrap">
						<label class="edd-label" for="edd-email">
						Email Address <span class="edd-required-indicator">*</span></label>
						<input class="edd-input required" type="email" name="email" placeholder="Email address" id="edd-email">
					</p>

					<p id="edd-password"></p>
						<label class="edd-label" for="edd-password">
						Password <span class="edd-required-indicator">*</span>
						</label>
						<input class="edd-input required" type="password" name="password" placeholder="Password" id="edd-first" value="" required="">
					</p>

					<input type="submit" name="edd-purchase" value="Sign IN">
					<a href="/Register" name="edd-purchase" >Create account</a>
				</fieldset>
			</form>
</body>
</html>